*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: brown;
}
.container{
    max-width: 400px;
    height: 500px;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);
    border-radius: 20px;
}
.head{
    background-color: #7c3636;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}
.main{
    padding: 10px;
    line-height: 23px;
}
.box{
    font-size: 20px;
    margin-bottom: 10px;
}
.bill-amount{
    line-height: 50px;
}
.billamount{
    font-size: 20px;
   
}
.box-2{
    font-size: 20px;
    margin-bottom: 10px;
}
.service1{
    font-size:20px;
    line-height: 50px;
}
.service{
    font-size: 23px;
    margin-left: 20px;
}
.box-3{
    font-size: 20px;
    margin-bottom: 14px;
}
.people1{
    line-height: 50px;
}
.people{
    font-size: 20px;
}
.box-4{
    margin: 28px;
    text-align: center;
}
.claculator{
    height: 41px;
    width: 143px;
    border-radius: 20px;
    border-color: rosybrown;
    font-size: 20px;
    background-color: #bf8758;
}
.tip{
    text-align: center;
    line-height: 25px;
}
span{
    font-size: 24px;
}
